<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Глобальний рівень -->
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="io.qameta.allure" level="WARN"/>
    <logger name="io.qameta.allure.listener" level="WARN"/>
    <logger name="io.qameta.allure.lifecycle" level="WARN"/>

    <!-- Jetty -->
    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="org.eclipse.jetty.util.log" level="WARN"/>

    <!-- WebDriverManager -->
    <logger name="io.github.bonigarcia.wdm" level="WARN"/>

    <!-- Selenium -->
    <logger name="org.openqa.selenium" level="WARN"/>

</configuration>
